* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: white;
  gap: 5px;
  width: 80%;
  margin: auto;
}

div {
  display: grid;
  justify-content: center;
  width: 250px;
  height: 400px;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 2px;
}

h1 {
  margin: 20px auto 50px;
  font-weight: 500;
  font-size: 50px;
}

a {
  font-weight: 500;
  font-size: 50px;
  text-decoration: none;
}

h3 {
  display: inline-block;
  margin: auto;
  font-weight: 400;
  text-align: center;
}

img {
  margin: auto;
}

ul {
  list-style: none;
  text-align: center;
  font-weight: 300;
}

button {
  height: 40px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}
